
\.gradle/

\.idea/

build/

app/src/main/res/mipmap-hdpi/\.DS_Store

app/src/main/res/mipmap-xhdpi/\.DS_Store

app/src/main/res/mipmap-xxhdpi/\.DS_Store

app/src/main/res/mipmap-mdpi/\.DS_Store

app/src/main/res/\.DS_Store

app/src/main/res/mipmap-xxxhdpi/\.DS_Store

app/src/main/res/drawable/\.DS_Store

local\.properties

OfficeDoor\.iml

app/app\.iml
